.offscreen {
	position: absolute;
	left: -10000px;	
}

.skip-link {
	position: absolute;
	top: -999px;
	left: 0;
	background: $black;
	padding: 1rem;
	z-index: 1;
	color: $white;
}

.skip-link:focus,
.skip-link:active {
	top: auto;
	left: auto;
}