/**
 * Base
 */
 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: $peach;
	font-size: 16px;
	font-family: "Sarala", sans-serif;
	color: $black;
}

.site {
	display: grid;
	background-color: $latte;
	padding: 2rem;

	@media only screen and (min-width: 768px) {
		max-width: 1200px;
		margin: 2rem auto;
		border-radius: 0.5rem;
	}
}

.site-main {

}

