h1 {
	margin-bottom: 1.5rem;
	color: $blood;
	font-family: "Merriweather Sans", sans-serif;
	font-weight: bold;
	font-size: 3rem;
}

h2 {
	margin-bottom: 1rem;
	color: $blood;
	font-family: "Merriweather Sans", sans-serif;
	font-size: 2rem;
}

h3 {
	color: $tart;
	font-family: "Amiri", serif;
	font-weight: normal;
	font-size: 2rem;
}

h4 {
	color: $tart;
	font-family: "Amiri", serif;
	font-weight: normal;
	font-size: 1.75rem;
}

h5 {
	margin-bottom: 0.5rem;
	color: $black;
	font-family: "Sarala", sans-serif;
	font-weight: bold;
	font-size: 1.25rem;
}

h6 {
	margin-bottom: 0.5rem;
	color: $black;
	font-family: "Sarala", sans-serif;
	font-weight: bold;
	font-size: 1rem;
}

p {
	margin-bottom: 1rem;

}

a {
	color: $blood;
	text-decoration: none;
}

a:hover {
	color: $tart;
}