/**
 * Typography
 */

@font-face {
   font-family: "Amiri";
   src: url('assets/fonts/Amiri/Amiri-Regular.ttf');
}

@font-face {
   font-family: "Amiri Bold";
   src: url('assets/fonts/Amiri/Amiri-Bold.ttf');
}

@font-face {
   font-family: "Amiri Bold Italic";
   src: url('assets/fonts/Amiri/Amiri-BoldItalic.ttf');
}

@font-face {
   font-family: "Amiri Italic";
   src: url('assets/fonts/Amiri/Amiri-Italic.ttf');
}

@font-face {
   font-family: "Merriweather Sans";
   src: url('assets/fonts/Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf');
}

@font-face {
   font-family: "Merriweather Sans Italic";
   src: url('assets/fonts/Merriweather_Sans/MerriweatherSans-Italic-VariableFont_wght.ttf');
}

@font-face {
   font-family: "Sarala";
   src: url('assets/fonts/Sarala/Sarala-Regular.ttf');
}

@font-face {
   font-family: "Sarala Bold";
   src: url('assets/fonts/Sarala/Sarala-Bold.ttf');
}
