.archive {

	.archive-header {
		
	}

	.archive-content {

		.post {
			display: flex;
			margin-bottom: 2rem;

			.entry-thumbnail {
				max-width: 10rem;
				max-height: 10rem;
				margin-right: 1rem;

			}

			.entry-content {
				display: flex;
				flex-direction: column;

				.entry-title {

				}

				.entry-date {
					margin-bottom: 0.5rem;
				}

				p {
					margin-bottom: 0;
				}

			}
		}		
	}

	.archive-footer {
		
	}
}