.comments {

	.comments-title {
		margin: 1rem 0;

	}

	.comments-list {
		list-style-type: none;

		.comment {
		    padding: 0 1rem;
		    border-left: 1px solid rgba(0, 0, 0, 0.1);

		    .children {
				list-style-type: none;
		    }

		    .comment-single {
		    	display: flex;
		    	margin-bottom: 1rem;

		    	.comment-thumbnail {
		    		margin-right: 1rem;

		    		.avatar {
		    			width: 3rem;
		    			height: 3rem;
		    			border-radius: 1.5rem;
		    		}

		    	}

		    	.comment-body {

		    		.comment-meta {

		    			.comment-name {
		    				margin-right: 0.5rem;
		    				font-style: normal;
		    			}

		    			.comment-time {
            				font-size: 0.75rem;

		    			}

		    		}

		    		.comment-content {

		    		}

		    		.comment-footer {

		    			.edit-link {
		    				margin-right: 1rem;
            				font-size: 0.75rem;
		    				text-transform: uppercase;
		    			}

		    			.reply {
            				font-size: 0.75rem;
		    				text-transform: uppercase;
		    			}
		    			
		    		}
		    	}
		    }
		}

	}

	.comments-form {

		.comment-form {

			& > p {

				label {
					position: absolute; //remove once accessibility is sorted
					left: -10000px;
				}

				textarea {
					width: 100%;
					max-width: 100%;
					padding: 1rem;
					font-family: "Sarala", sans-serif;
					font-weight: 400;
					text-transform: none;
					font-size: 1rem;
					line-height: 1.5;
					color: $black;
					border: none;
				}

				input {
					max-width: 100%;
					padding: 1rem;
					font-family: "Sarala", sans-serif;
					font-weight: 400;
					text-transform: none;
					font-size: 1rem;
					line-height: 1.5;
					color: $black;
					border: none;
				}

				input[type="checkbox"] {
					margin: 0 0.25rem;
				}

				input[type="submit"] {
					background-color: $salmon;
					cursor: pointer;
				}
			}

			.comment-form-cookies-consent {

				label {
					position: static; //this is temporary to as to not be affected by the above rule
				}

			}

		}

	}
}